.App {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #282c34;
    color: white;
}

.sidemenu {
    width: 240px;
    padding: 10px;
    background-color: #202123;
}

.sidemenu-button {
    border: 0.1px white solid;
    padding: 12px;
    border-radius: 5px;
    width: 200px;
    text-align: left;
    font-size: 14px
}

.sidemenu-button:hover {
    background-color: rgb(255, 255, 255, 0.05);
}

.sidemenu-button span {
    padding-right: 10px;
}

.chatsection {
    flex: 1;
    background-color: #ffffff;
}

.chat-log {
    text-align: left;
    padding: 24px;
    overflow: auto;
    height: 80%;
    width: auto;
    overflow: scroll;
}

.chat-message {
    padding-left: 25px;
    padding-bottom: 30px;
    padding: 24px;
    display: inline-block;
}
.message-holder-chatgpt {
    background-color: #f9f9f9;
    color: #202123;
    border-radius: 5px;
  }